<div fxLayout="row" fxLayoutGap="20px" class="table-container">
    <div fxFlex="55%">
        <table mat-table [dataSource]="rateDataSource" class="full-width">
            <ng-container *ngFor="let column of rateColumns" [matColumnDef]="column.columnDef">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="column.style">
                    {{column.header}}
                </th>
                <td mat-cell *matCellDef="let row" [ngStyle]="column.style">
                    {{column.cell(row)}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedRateColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedRateColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="8">
                    <div fxLayout="row" fxLayoutGap="15px" class="text-align-center full-width"
                        fxLayoutAlign="center center">
                        <mat-icon class="info-icon">info</mat-icon>
                        <p class="text-size-small">No records found!</p>
                    </div>
                </td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons>
        </mat-paginator>
    </div>
    <div fxFlex="45%">
        <table mat-table [dataSource]="statsDataSource" class="full-width">
            <ng-container *ngFor="let column of statsColumns" [matColumnDef]="column.columnDef">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="column.style">
                    {{column.header}}
                </th>
                <td mat-cell *matCellDef="let row" [ngStyle]="column.style">
                    {{column.cell(row)}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedStatsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedStatsColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="8">
                    <div fxLayout="row" fxLayoutGap="15px" class="text-align-center full-width"
                        fxLayoutAlign="center center">
                        <mat-icon class="info-icon">info</mat-icon>
                        <p class="text-size-small">No records found!</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>